[Unit]
Description=SocialHub Server Service

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/github/socialhub/src
ExecStart=/usr/local/go/bin/go run /home/ec2-user/github/socialhub/src/main.go
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target