[Unit]
Description=SocialHub Server Service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/github/socialhub/src/build/socialhub
ExecStart=/home/ubuntu/github/socialhub/src/build/socialhub
Restart=always

[Install]
WantedBy=multi-user.target