[Unit]
Description=SocialHub Server Service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/github/socialhub/src
ExecStart=go run /home/ubuntu/github/socialhub/src/main.go
Restart=always

[Install]
WantedBy=multi-user.target