*{
    margin: 0;
    padding: 0;
}

.post-area{
    top:500rem;
    height: 40vh;
    display: grid;
    place-items: center;
}

#post-input{
    height: 10rem;
    width: 25rem;
    padding: 4px;
    text-align: justify;
}

.form{
    padding: 10px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    width: 40rem;
    align-self: center;
}